@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@font-face {
    font-family: MinecraftH;
    src: url(fonts/Minecrafter.ttf);
}

@font-face {
    font-family: MinecraftP;
    src: url(fonts/Minecraft.ttf);
}


html {
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: "Ubuntu", sans-serif;
    padding: 0px;
    scrollbar-color: rgb(30,30,30) black;
    user-select: none; 
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: "MinecraftH", sans-serif;
    margin: 0px;
    font-size: 30px;
    letter-spacing: 2px;
}

h1,h2 {
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


/**************MAIN PAGE**************/

.headerImg {
    position: relative;
    width: 100%;
    height: calc(300px + 260 * ((100vw - 360px) / 1560));
    background-image: url(images/headerImgFade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.mainContent {
    padding: 30px;
    background-color: rgb(41, 41, 41);
    height: 150px;
    width: 50%;
    margin: 30px auto;
    overflow: hidden;
}

.headerImgContent {
    position: absolute;
    top: 20%;
    left: 0;
    text-align: center;
    width: 100%;
}

.headerImgContent h1 {
   font-size: calc(40px + 40 * ((100vw - 360px) / 1560));
   text-shadow: 1px 1px #000;
}

.headerImgContentText {
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: calc(20px + 15 * ((100vw - 360px) / 1560));
    text-shadow: 1px 1px #000;
}

.Ip {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(252, 255, 50);
    letter-spacing: 1px;
    font-size: calc(20px + 5 * ((100vw - 360px) / 1560));
    margin: 10px auto 12px auto;
}

.mainBtn {
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    margin: 2px 15px;
    padding: 6px 15px;
    font-size: calc(20px + (0) * ((100vw - 360px) / 1560));
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 2px 2px #000A;
	box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
    background: #999 url('https://i.ibb.co/rb2TWXL/bgbtn.png') center / cover;
    border: 2px solid #000;
}

.mainBtn:hover {
    background: linear-gradient(0deg, rgba(100, 100, 255, 0.45), rgba(100, 100, 255, 0.45)), url('https://i.ibb.co/rb2TWXL/bgbtn.png') repeat;
	text-shadow: 2px 2px #202013CC;
	color: #FFFFA0;
}

.mainContent h1 {
    font-family: "Ubuntu", sans-serif;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

/**************NAV**************/

.navbar {
    background-image: url(images/Background.png);
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navBtn {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 8px 0px 8px;
    font-family: "MinecraftP", sans-serif;
    letter-spacing: 3px;
    padding: 10px 15px;
    text-shadow: 1px 1px #000;
}

.navBtn:hover {
    background-color: rgba(20, 20, 20,0.7);   
}

.navNadpis {
    padding: 5px;
    font-family: "MinecraftH", sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 5px;
}

.navImg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.vipBtn {
    background-color: rgba(21, 73, 71,0.6);
}

.vipBtn:hover {
    background-color: rgba(34, 107, 105,0.6);
}

.menuBtn {
    display: none;
    padding: 5px;
}

 @media screen and (max-width: 1279px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar .menuBtn {
      float: right;
      display: block !important;
    }
  }
  
  
  @media screen and (max-width: 1279px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .menuBtn {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive .navBtn {
      float: none;
      display: block;
      text-align: left;
      margin: unset;
    }
  } 

/**************FOOTER**************/

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: rgb(20, 20, 20);
    margin-top: 100px;
}

.footerBlock {
    margin: 20px;
    width: 200px;
    height: auto;
    padding: 10px;
}

.footerBlock h2 {
    padding: 5px 0 5px 0;
    border-bottom: 2px solid white;
    color: rgb(210, 212, 47);
}

.footerBlock ul {
    padding-left: 0px;
    list-style-type: none;
    margin-top: 5px;
}

.footerBlock ul li {
    margin-bottom: 2px;
}

.footerBlock h2 {
    font-weight: unset;
}

.cpNotice {
    margin-top: 0px;
    width: 100%;
    text-align: center;
}

/**************VIP**************/
.vip {
    background-image: url(images/vipBackground2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.vipFlexWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}

.vipBlock {
    border-radius: 20px;
    position: relative;
    width: 290px;
    height: 400px;
    margin: 40px 30px 30px 30px;
    box-shadow: 0px 3px 5px 7px rgba(0,0,0,0.3)
}

.vipBlock .cost {
    display: block;
    text-align: center;
    font-size: 50px;
    text-shadow: 1px 1px #000;
}

.vipCart {
    margin-top: 110px;
}

.vipName {
    font-size: 35px;
    text-align: center;
    display: block;
    text-shadow: 1px 1px #000;
}

.benefits {
    margin-top: 5px;
    margin-bottom: 5px;   
    width: 205px;
}

.vipBtnDiaBuy { 
    margin: 9px auto 10px auto;
    background-color:  rgb(7, 43, 61);
}

.vipBtnDiaBuy:hover {
    background-color:  rgb(5, 29, 41);
}

.vipBtnGoldBuy:hover {
    background-color:  rgb(39, 39, 1);
}

.vipBtnIronBuy:hover {
    background-color:  rgb(36, 36, 36);
}

.vipBtnGoldBuy {
    margin: 9px auto 10px auto;
    background-color:  rgb(47, 48, 1);  
}

.vipBtnIronBuy { 
    margin: 9px auto 10px auto;
    background-color:  rgb(41, 41, 41);  
}

.vipBtnBuy {
    border-radius: 0 0 18px 18px;
    padding: 10px;
    text-align: center;
    box-sizing:border-box;
    display: block;
    letter-spacing: 1px;
    text-shadow: 1px 1px #000;
    font-weight: bold;
}

.vip1 {
    background-color: rgb(114, 114, 114);
    background: linear-gradient(0deg, rgb(59, 59, 59) 7%, rgba(114,114,114,1) 49%, rgba(176,176,176,1) 100%);
   
}

.vip2 {
    background-color: #a58a1d;
    background: linear-gradient(0deg, rgb(64, 66, 3) 7%, rgba(165,138,29,1) 49%, rgb(180, 151, 32) 100%);

}

.vip3 {
    background-color: #2b9fa1;
    background: linear-gradient(0deg, rgb(8, 56, 80) 7%, rgba(43,159,161,1) 49%, rgb(32, 184, 187) 100%);
   
}

.swordImg1 {
    position: absolute;
    left: -20px;
    top: -30px; 
    filter: drop-shadow(8px 13px 5px rgba(34,34,34,0.8));
}

.axeImg2 {
    position: absolute; 
    left: 190px;
    top: -30px;
    filter: drop-shadow(8px 13px 5px rgba(34,34,34,0.8));
}

.vipDia {
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    position: absolute;
    top: 25px;
    animation: float 6s ease-in-out infinite;
    filter: drop-shadow(8px 13px 5px rgba(34,34,34,0.8));
    box-sizing: border-box;
    border-radius: 35%;
}


.vipGold {
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 72px;
    position: absolute;
    top: 45px;
    animation: float 6s ease-in-out infinite;
    filter: drop-shadow(5px 10px 5px rgba(34,34,34,0.8));
    box-sizing: border-box;
    border-radius: 35%;
}

.swordImg2 {
    position: absolute; 
    left: 170px;
    top: -30px;
    filter: drop-shadow(8px 13px 5px rgba(34,34,34,0.8));
}

.vip1Top {
   
}

.vip2Top {
    
}

.vip3Top {
    
}